/* ADMIN SECTION */
@import './colors.css';

/* CATEGORIES */
.admin__nav {
  width: 1550px;
  margin: 30px 0 20px 0px;
  border-radius: 10px;

  .admin__nav--position {
    margin-left: 380px;
    border: none !important;
  }

  .admin__navItem {
    background-color: var(--styleBlue);
    width: 250px;
    border: 2px solid var(--styleRed);
    border-radius: 10px;
    font-family: var(--font3);
    margin: 0 10px;

    a {
      color: var(--styleWhite) !important;
      &:hover {
        border: none;
      }
    }

    &:hover {
      cursor: pointer;
      border: 2px solid var(--styleWhite);
    }
  }
}

.admin__tabContent {
  margin: 100px 0 0 100px;
  width: 1400px;
  font-family: var(--font3);

  .category__input__wrapper {
    width: 600px;
    height: 220px;
    padding: 20px 40px;
    margin-left: 120px;
    background-color: var(--styleBlue);
    color: var(--styleWhite);
    border: 2px solid var(--styleRed);
    border-radius: 10px;

    h3 {
      font-weight: bold;
    }

    button {
      margin-top: 20px;
    }
  }
}

.categories__wrapper {
  display: flex;
  width: 600px;
  min-height: 200px;
  background-color: var(--styleBlue);
  border: 2px solid var(--styleRed);
  border-radius: 10px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  padding: 10px 0;

  .categories__item {
    height: 30px;
    width: 180px;
    background-color: var(--styleRed);
    color: var(--styleWhite);
    margin: 5px 5px 5px 5px !important;
    display: flex;
    border-radius: 10px;

    .categories__itemName {
      flex: 0 0 83%;
      line-height: 30px;
    }

    .categories__itemRemove {
      flex: 1;
      height: 20px;

      button {
        background-color: transparent !important;
        height: 30px;
        vertical-align: middle;
        text-align: center;
        padding: 0 10px;
        border: none;
      }
    }
  }
}

.category__listGroup {
  background-color: var(--styleBlue) !important;
  color: var(--styleRed) !important;
  border: 1px solid var(--styleRed);
  width: 400px;
  display: flex;

  .category__listGroupText {
    flex: 0 0 45%;
  }
  .category__listGroupBtn {
    flex: 1;
  }
}

/* ITEMS */
.itemManagement__wrapper {
  display: flex;
  width: 1500px;
  flex-flow: row wrap;
  align-items: flex-start;
}

.boardgames__wrapper {
  display: flex;
  width: 600px;
  min-height: 200px;
  background-color: var(--styleBlue);
  border: 2px solid var(--styleRed);
  border-radius: 10px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  padding: 10px 0;

  .boardgames__item {
    height: 60px;
    width: 180px;
    background-color: var(--styleRed);
    color: var(--styleWhite);
    margin: 5px 5px 5px 5px !important;
    display: flex;
    border-radius: 10px;

    .boardgames__itemName {
      flex: 0 0 83%;
      margin: auto;
    }

    .boardgames__itemRemove {
      flex: 1;
      height: 30px;

      button {
        background-color: transparent !important;
        height: 30px;
        vertical-align: middle;
        text-align: center;
        padding: 0 10px;
        border: none;
      }
    }
  }
}

.item__formContainer {
  font-family: var(--font3);
  background-color: var(--styleBlue);
  color: var(--styleWhite);
  padding: 10px;
  width: 600px;
  margin-left: 160px;
  border: 2px solid var(--styleRed);
  border-radius: 10px;
}

.item__form {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas:
    'title title'
    'name price'
    'score salePrice'
    'img onSale'
    'description description'
    'categories categories'
    'submit submit';

  h3 {
    grid-area: title;
    padding: 5px;
    color: var(--styleRed);
  }

  label {
    font-weight: bold;
  }

  .form__name {
    grid-area: name;
  }

  .form__score {
    grid-area: score;
  }

  .form__img {
    grid-area: img;
  }

  .form__price {
    grid-area: price;
  }

  .form__salePrice {
    grid-area: salePrice;
  }

  .form__onSale {
    grid-area: onSale;
  }

  .form__description {
    grid-area: description;
    textarea {
      height: 130px;
    }
  }

  .form__categories {
    grid-area: categories;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas:
      'catTitle catTitle catTitle'
      'catNum catNum catNum';

    label {
      grid-area: catTitle;
    }

    .form__categories__menu {
      background-color: var(--styleBlue);

      button:hover {
        background-color: var(--styleRed);
      }
    }

    button {
      color: var(--styleWhite);
    }
  }

  .form__submit {
    grid-area: submit;
  }
}

/* USERS */
.user__wrapper {
  width: 80%;
  background-color: var(--styleBlue);
  border: 2px solid var(--styleRed);
  border-radius: 10px;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.user__listGroup {
  background-color: var(--styleRed);
  color: var(--styleWhite);
  border-radius: 10px;
  font-family: var(--font3);
  width: 500px;
  padding: 5px;
  display: flex;
  align-items: center;

  .user__listGroupText {
    flex: 0 0 55%;
    font-weight: bold;
  }

  .user__listGroupBtn {
    flex: 1;
    color: var(--styleWhite) !important;
    border: 1px solid var(--styleBlue);

    &:hover {
      background-color: var(--styleBlue);
    }
  }
}
