@import './colors.css';

/* GAME INFO */
.gameinfo__wrapper {
  margin: 30px 0;
  display: grid;
  /* border: 3px solid var(--errorRed); */
  font-family: var(--font3);
  grid-template-columns: 580px auto 387px;
  grid-template-rows: 400px auto;
  grid-gap: 10px;
  grid-template-areas:
    'image info info'
    'description description buy';

  .gameinfo__imgContainer {
    grid-area: image;

    .gameinfo__img {
      max-height: 100%;
      width: auto;
      border: 5px solid var(--styleBlue);
      border-radius: 10px;
    }
  }
}

.gameinfo__info {
  grid-area: info;
  color: var(--styleRed);
  /* border: 3px solid var(--styleGreen1); */
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 'name score';

  .gameinfo__name {
    grid-area: name;
    margin-right: 5px;
    background-color: var(--styleBlue);
    padding-top: 20px;
    font-family: var(--font1);
    font-size: 60px;
    border-radius: 10px;

    .gameinfo__categories {
      margin-top: 30px;
      font-family: var(--font3);
      font-size: 30px;

      ul {
        padding: 0;
        margin: 0;
      }
    }

    .gameinfo__categoryItem {
      list-style-type: none;
      width: 300px;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--styleGrey);
      color: var(--styleBlue);
      /* border: 2px solid var(--styleRed); */
      border-radius: 5px;
    }
  }

  .gameinfo__score {
    grid-area: score;
    background-image: url('../../main/assets/images/hexagon.png');
    background-size: cover;
    background-position: center;
    text-align: center !important;

    .gameinfo__scoreNum {
      text-align: center !important;
      line-height: 394px;
      font-size: 140px;
      font-family: var(--font1);
    }
  }
}

.gameinfo__description {
  grid-area: description;
  background-color: var(--styleBlue);
  color: var(--styleWhite);
  padding: 20px 50px;
  border-radius: 10px;
}

.gameinfo__buy {
  grid-area: buy;
  font-size: 24px;
  position: relative;

  button {
    margin-top: 10px;
    width: 100%;
  }

  .gameinfo__price {
    background-color: var(--styleBlue);
    color: var(--styleRed);
    border-radius: 10px;
  }

  .gameinfo__oldPrice {
    text-decoration-line: line-through;
  }
}
