@import './colors.css';

/* NAVBAR */
.navbar--color {
  background-color: var(--styleBlue);
  max-height: 55px;
  align-items: center;
  justify-content: center;
}

.navbar__brand {
  color: var(--styleBlack);
  font-family: var(--font2);
  font-size: 26px;

  &:hover {
    color: var(--styleYellow);
  }
}

.navbar__userListEl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  .navbar__user {
    color: var(--styleBlack);
    font-size: 20px;
    font-family: var(--font2);
  }
}

.navbar__search {
  justify-content: center;

  input {
    margin-top: 3px;
  }
}

.navbar__links--color {
  color: var(--styleBlack);
  font-family: var(--font2);
  font-size: 20px;

  &:hover {
    color: var(--styleYellow);
  }
}
