/* LISTING */
@import './colors.css';

.listing__categories {
  margin-top: 110px;
  font-family: var(--font1);

  .listing__categoryListItem {
    background-color: var(--styleBlue);
    color: var(--styleRed);
    border: 1px solid var(--styleRed);
    font-size: 24px;
    font-weight: 600;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
  }
}

.listing__filters {
  position: absolute;
  margin: 42px 0 0 65px;
  width: 600px;
  height: 48px;
  font-family: var(--font3);

  .listing__clearBtn {
    position: relative;
    height: 44px;
    width: 44px;
    margin: 2px 0px 0 -48px !important;
    float: left;
    color: var(--styleWhite);
    font-size: 30px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    &:hover {
      background-color: var(--styleBlue);
    }
  }

  .listing__breadcrumb {
    margin-left: -50px;
    height: 48px !important;
    background-color: var(--styleRed) !important;
    color: var(--styleWhite) !important;
    border-radius: 10px !important;
    border: 3px solid var(--styleBlue);

    ol {
      height: 38px !important;
      /* padding-left: 60px; */
      background-color: var(--styleRed) !important;
      color: var(--styleWhite) !important;
      border-radius: 10px !important;
    }

    span {
      height: 48px;
      line-height: 48px;
      margin-top: -14px;
    }
  }
}

.listing__priceBtnGroup {
  margin: 40px 0 0 935px;
  width: 300px;
  height: 48px;
  font-family: var(--font3);

  .listing__filterBtn {
    background-color: var(--styleRed) !important;
    color: var(--styleWhite) !important;
    border: 2px solid var(--styleBlue);
    width: 100px;
    margin-left: 10px;
  }
}

.listing__games {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}
