@import './colors.css';

/* NOT FOUND */
.notFound {
  background-color: var(--styleBlue);
  color: var(--styleWhite);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
