@import '../../main/colors.css';

/* CART */
.cart__wrapper {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 'items summary';
  justify-items: center;

  .cart__listGroup {
    grid-area: items;

    .cart__listGroup--size {
      width: 500px;
      background-color: var(--styleBlue);
      color: var(--styleWhite);
      font-family: var(--font3);

      .cart__itemImg {
        height: 100px;
        width: 160px;
      }
    }
  }

  .cart__summary__jumbotron {
    grid-area: summary;
    width: 500px;
    height: 420px;
    background-color: var(--styleBlue);
    color: var(--styleWhite);
    border-radius: 10px;
    font-family: var(--font3);
    padding: 10px 30px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px 100px 50px 100px;
    grid-template-areas:
      'title'
      'user'
      'number'
      'total_price'
      'priceNum';
    align-items: center;
  }

  .cart__summary__header {
    grid-area: title;
    color: var(--styleRed);
    font-family: var(--font2);
    font-size: 54px;
  }

  .cart__summary__user {
    grid-area: user;
    justify-self: start;
    font-size: 28px;
  }

  .cart__summary__number {
    grid-area: number;
    justify-self: start;
    font-size: 28px;
  }

  .cart__summary__price {
    grid-area: total_price;
    justify-self: start;
    align-self: start;
    font-size: 28px;
  }

  .cart__summary__priceNum {
    grid-area: priceNum;
    justify-self: center;
    align-self: center;
    font-size: 40px;
  }
}
