@import '../../main/colors.css';

/* FAQ */
.faq {
  background-color: var(--styleBlue);
  color: var(--styleWhite);
  margin-top: 50px;
  width: 100%;
  text-align: left;
  padding: 20px;
  font-family: var(--font3);

  h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    font-family: var(--font2);
  }

  p {
    padding-bottom: 20px;
  }
}
