/* TO DO: LEARN HOW TO USE POSTCSS PLUGINS */
@import './colors.css';

.background {
  background-image: url('./images/bgWorld-wallpaper2.jpg');
  background-position: 'center';
  background-repeat: 'repeat-y';
  //background-size: contain;
  //background-size: 100% 100%;
  position: relative;
}

.container-fluid {
  max-width: 1600px !important;
  text-align: center;
  border: 1px solid var(--errorRed);
  min-height: 882px !important;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar--color {
  background-color: var(--styleBlue);
}

.navbar__brand {
  color: white;
}

.navbar__brand:hover {
  color: antiquewhite;
}

.navbar__links--color {
  color: white;

  &:hover {
    color: antiquewhite;
  }
}

.navbar__links--margin {
  margin-right: 50px;
}

/* HOME */
.home__carousel {
  display: inline-block;
  margin-top: 10px;
  //text-align: center;
}

.home__corouselItem {
  height: 500px;
  width: 1100px;

  .carousel__caption {
    color: var(--styleRed);
    padding-bottom: 0;
    h3 {
      background-color: var(--styleBlue);
      border-radius: 20px;
    }
  }

  img {
    flex-shrink: 0;
    min-width: 100%;
    // min-height: 100%;
    max-height: 100%;
    border: 5px solid var(--styleBlue);
    border-radius: 15px;
  }
}

/* LISTING */
.listing__games {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.cardImg {
  height: 240px !important;
  object-fit: contain;
}

.home__card--size {
  margin-top: 50px;
  background-color: var(--styleBlue);
  border: 5px solid var(--styleBlue);
  padding: 10px;
  border-radius: 10px;
}

.home__cardPrice {
  display: flex;
  font-size: 20px;

  .card__regularPrice {
    flex: 0 0 50%;
    text-decoration: line-through;
  }

  .card__salePrice {
    flex: 1;
  }
}

.home__cardBtn--margin {
  margin: 0px 10px -15px 10px;
}

.card__text {
  background-color: var(--styleBlue);
  color: var(--styleRed);
  border-radius: 10px;
}

/* GAME INFO */
.gameinfo__wrapper {
  display: flex;
}

.gameinfo__img--size {
  max-height: 800px !important;
  max-width: 700px !important;
  object-fit: contain !important;
  float: left;
  margin: 30px 100px 0 20px;
}

.gameinfo__div {
  max-width: 700px;
  margin: 100px 0 0 0px;
  color: var(--styleRed);
  background-color: var(--styleBlue);
  display: block;
  overflow: auto;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}

/* CART */
.cart {
  display: flex;
}

.cart__listgroup {
  margin: 100px 0 0 100px;
  float: left !important;
  width: 400px;
  flex: 0 0 45%;
}
.cart__list {
  width: 400px;
}

.cart__itemImg {
  height: 100px;
  width: 160px;
}

.cart__summary {
  margin-top: 100px;
  max-width: 600px !important;
  max-height: 400px !important;
  float: left !important;
  flex: 1;
}

.cart__summary__jumbotron {
  background-color: var(--styleBlue);
  color: var(--styleRed);
  border-radius: 10px;
}

/* ADMIN SECTION */
/* CATEGORIES */
.admin__nav {
  width: 1550px;
  margin: 30px 0 0 0px;
  border-radius: 10px;
}

.admin__nav--position {
  margin-left: 400px;
  border: none !important;
}

.admin__navItem {
  background-color: var(--styleBlue);
  color: var(--styleRed);
  width: 250px;

  &:hover {
    cursor: pointer;
  }

  .active {
    color: var(--styleRed) !important;
    background-color: var(--styleBlue) !important;
    font-weight: bold;
  }
}

.admin__tabContent {
  margin: 100px 0 0 100px;
  width: 1400px;
}

.category__listGroup {
  background-color: var(--styleBlue) !important;
  color: var(--styleRed) !important;
  border: 1px solid var(--styleRed);
  width: 400px;
  display: flex;

  .category__listGroupText {
    flex: 0 0 45%;
  }
  .category__listGroupBtn {
    flex: 1;
  }
}

.category__input {
  margin-left: 100px;
  width: 600px;

  .category__inputText {
    background-color: var(--styleBlue) !important;
    color: var(--styleRed) !important;
  }

  .category__submitBtn {
    &:hover {
      cursor: pointer;
    }
  }
}

/* ITEMS */
.item__formContainer {
  background-color: var(--styleBlue);
  color: var(--styleRed);
  padding: 10px;
  width: 600px !important;

  .inputGroup__dolar {
    background-color: var(--styleBlue);
    color: var(--styleRed);
    font-weight: bold;
    position: absolute;
    font-size: 16px;
  }
}

/* FOOTER */

.footer {
  background-color: var(--styleBlue);

  .footer__links {
    margin-left: 1600px;
  }
}
