/* TO DO: LEARN HOW TO USE POSTCSS PLUGINS */
@import './colors.css';

.background {
  background-image: url('./images/bgWorld-wallpaper2.jpg');
  background-position: 'center';
  background-repeat: 'repeat-y';
  background-size: contain;
  background-size: 100% 100%;
  position: relative;
}

.container-fluid {
  max-width: 1600px !important;
  text-align: center;
  border: 1px solid var(--errorRed);
  min-height: 882px !important;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar--color {
  background-color: #2b4162;
}

.navbar__brand {
  color: white;
}

.navbar__brand:hover {
  color: antiquewhite;
}

.navbar__links--color {
  color: white;
}
.navbar__links--color:hover {
  color: antiquewhite;
}

.navbar__links--margin {
  margin-right: 50px;
}

/* HOME */
.games__listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.cardImg {
  height: 240px !important;
  object-fit: contain;
}

.home__card--size {
  margin-top: 50px;
  background-color: #2b4162;
  border: 5px solid #2b4162;
  padding: 10px;
  border-radius: 10px;
}

.home__cardBtn--margin {
  margin: 10px 10px -15px 10px;
}

.card__text {
  background-color: #2b4162;
  color: #d64933;
  border-radius: 10px;
}

/* GAME INFO */
.gameinfo__wrapper {
  display: flex;
}

.gameinfo__img--size {
  max-height: 800px !important;
  max-width: 700px !important;
  object-fit: contain !important;
  float: left;
  margin: 30px 100px 0 20px;
}

.gameinfo__div {
  max-width: 700px;
  margin: 100px 0 0 0px;
  color: #d64933;
  background-color: #2b4162;
  display: block;
  overflow: auto;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}

/* CART */
.cart {
  display: flex;
}

.cart__listgroup {
  margin: 100px 0 0 100px;
  float: left !important;
  width: 400px;
  flex: 0 0 45%;
}
.cart__list {
  width: 400px;
}

.cart__itemImg {
  height: 100px;
  width: 160px;
}

.cart__summary {
  margin-top: 100px;
  max-width: 600px !important;
  max-height: 400px !important;
  float: left !important;
  flex: 1;
}

.cart__summary__jumbotron {
  background-color: #2b4162;
  color: #d64933;
  border-radius: 10px;
}

/* ADMIN SECTION */
.admin__nav {
  width: 1550px;
  margin: 30px 0 0 0px;
  border-radius: 10px;
}

.admin__nav--position {
  margin-left: 400px;
  border: none !important;
}

.admin__navItem {
  background-color: #2b4162;
  color: #d64933;
  width: 250px;

  &:hover {
    cursor: pointer;
  }

  .active {
    color: #d64933 !important;
    background-color: #2b4162 !important;
    font-weight: bold;
  }
}

.admin__tabContent {
  margin: 100px 0 0 100px;
  width: 1400px;
}

.category__listGroup {
  background-color: #2b4162 !important;
  color: #d64933 !important;
  border: 1px solid #d64933;
  width: 400px;
  display: flex;
}

.category__input {
  margin-left: 100px;
  width: 600px;

  .category__inputText {
    background-color: #2b4162 !important;
    color: #d64933 !important;
  }

  .category__submitBtn {
    &:hover {
      cursor: pointer;
    }
  }
}
