@import url('https://fonts.googleapis.com/css?family=Charm|Open+Sans|Pacifico');

:root {
  --errorRed: #e03030;
  --styleRed: #bf1363; /*#f03a47; #db3a34;*/
  --styleBlue: #11658e; /*#3e4474*/
  --styleYellow: #ffc857;
  --styleGreen1: #38cb99;
  --styleGreen2: #9be581;
  --styleBlack: black;
  --stylePurple: #3f6a9f;
  --styleGrey: #6d9dc5;
  --styleWhite: #e4dfda;

  --font1: 'Charm';
  --font2: 'Pacifico';
  --font3: 'Open Sans';
}
