@import '../../main/colors.css';

/* FOOTER */
.footer {
  background-color: var(--styleBlue);
  font-size: 16px;
  font-weight: 600;

  .footer__links {
    margin-left: 1600px;
  }
}

.footer__links--color {
  color: var(--styleBlack);
  font-family: var(--font3);

  &:hover {
    color: var(--styleYellow);
  }
}

.footer__user {
  color: var(--styleBlack) !important;
  font-family: var(--font3);

  &:hover {
    cursor: pointer;
    color: var(--styleYellow) !important;
  }
}
